/* Toute la page html */

* {
    --green-color : #7CA640;
    --grey-color : #F1F1F1;
    --font-title: 'Kaushan Script', cursive;
    --corps-font: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* La navbar */

.navbar {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 20px black;
    font-family: var(--corps-font);
    position: absolute;
    z-index: 1;
}

.navbar_left {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar_left i {
    color: var(--green-color);
}

.navbar_middle {
    color: var(--green-color);
    font-size: 35px;
    font-weight: 1000;
}

.navbar_right {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Le bandeau */

.bandeau {
    background-image: url(./images/sushi-2K-wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.bandeau h1 {
    color: white;
    font-size: 80px;
    font-family: var(--font-title);
    letter-spacing: 4px;
    font-weight: 500;
}

.bandeau h2 {
    font-family: var(--font-title);
    color: var(--green-color);
    font-weight: 500;
    font-size: 50px;
}

.bandeau p {
    color: white;
    font-size: 20px;
}

.bandeau button {
    width: 150px;
    height: 30px;
    margin: 20px 10px;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    font-size: 10px;
}

.bandeau button:hover {
    border-color: var(--green-color);
    background-color: var(--green-color);
    cursor: pointer;
    transition-duration: 0.2s;
}

.custom-shape-divider-bottom-1650464938 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.custom-shape-divider-bottom-1650464938 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1650464938 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1650465143 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1650465143 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
}

.custom-shape-divider-bottom-1650465143 .shape-fill {
    fill: #7CA640;
}

/* Menu déroulant */

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -140px;
    position: relative;
    z-index: 1;
}

.menu i {
    font-size: 25px;
    color: var(--green-color);
    border: 3px solid white;
    padding: 5px;
    margin-top: -50px;
}

.menu i:hover {
    color: grey;
    cursor: pointer;
    border: 3px solid grey;
    transition-duration: 0.5s;
}

.menu_form {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 280px;
    width: 250px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone_menu {
    background-image: url(./images/i8238-maki-sushi.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 140px;
    width: 140px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: -50px;
    margin-bottom: 40px;
}

.menu h2 {
    font-family: var(--corps-font);
    font-size: 15px;
}

.menu p {
    font-family: var(--corps-font);
    color: grey;
}

.menu button {
    font-family: var(--corps-font);
    font-size: 10px;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: transparent;
    border: 2px solid grey;
}

.menu button:hover {
    transform: scale(1.02);
    cursor: pointer;
}

/* Menu du jour */

.icone_couvert {
    background-color: var(--green-color);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-top: -270px;
}

.icone_couvert i {
    font-size: 40px;
    color: #FFFFFF;
}

.entete_menu_du_jour {
    width: 910px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.texte_menu_du_jour {
    margin-left: -300px;
}

.menu_du_jour {
    margin-top: 150px;
    height: 500px;
    background-color: var(--grey-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu_du_jour_h2 {
    color: var(--green-color);
    font-family: var(--font-title);
    font-size: 40px;
    font-weight: 500;
}

.menu_du_jour_p {
    font-family: var(--corps-font);
    font-size: 13px;
    display: flex;
    justify-self: flex-start;
}

.menu_du_jour .menu {
    margin-top: 0px;
    margin-bottom: -50px;
}

/* FOOTER */

.footer {
    width: 100%;
    display: flex;
}

.reservation {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.reservation_wrapper {
    width: 530px;
    height: 700px;
}

.reservation_wrapper h2 {
    color: #7CA640;
    margin-top: 150px;
    text-align: start;
    font-family: var(--font-title);
    font-size: 50px;
    font-weight: 500;
}

.reservation_wrapper h3 {
    font-family: var(--corps-font);
    text-align: start;
    letter-spacing: 3px;
}

.reservation_wrapper p {
    font-family: var(--corps-font);
    text-align: start;
    margin-top: 30px;
    color: rgb(143, 143, 143);
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.form select {
    width: 250px;
    height: 40px;
    margin: 10px 5px 5px 0px;
    border: 2px solid var(--grey-color);
}

.cgu_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cgu_wrapper p {
    margin-top: 0;
    color: white;
    background-color: #7CA640;
    width: 250px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cgu_wrapper label {
    font-size: 10px;
}

.image_footer {
    height: 700px;
    width: 100%;
    background-color: #FCFCFC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_footer img {
    height: 550px;
    margin-left: -200px;
}

