/* Toute la page html */

@font-face {
    font-family: 'Quantify Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Quantify Regular'), url('police/Quantify.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Quantify Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Quantify Bold'), url('police/Quantify\ Bold.woff') format('woff');
    }

* {
    --green-color : #7CA640;
    --grey-color : #F1F1F1;
    --font-title: 'Kaushan Script', cursive;
    --corps-font: 'Source Sans Pro', sans-serif;
    --navbar-font: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: var(--corps-font);
}

/*!!!!!!!!!!!!!!!!!!! NAVBAR !!!!!!!!!!!!!!!!!!!*/

.navbar {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 3;
}

.navbar_wrapper {
    display: flex;
    align-items: center;
    width: 1200px;
    justify-content: space-around;
}

.navbar_left {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--navbar-font);
    font-size: 15px;
}

.navbar_left i {
    color: var(--green-color);
}

.navbar_middle p {
    color: var(--green-color);
    font-size: 35px;
    font-family: 'Quantify Regular';
}

.navbar_right {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--navbar-font);
    font-size: 15px;
}

/*!!!!!!!!!!!!!!!!!!! BANDEAU !!!!!!!!!!!!!!!!!!!*/

.bandeau {
    background-image: url(images/sushi-2K-wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    color: #FFFFFF;
}

.bandeau h1 {
    font-size: 90px;
    font-family: var(--font-title);
    letter-spacing: 4px;
    font-weight: 500;
    margin-top: 20px;
}

.bandeau h2 {
    font-family: var(--font-title);
    color: var(--green-color);
    font-weight: 500;
    font-size: 50px;
}

.p_bandeau_1 {
    margin-top: 100px;
    letter-spacing: 2px;
}

.p_bandeau_2 {
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
}

.p_bandeau_3 {
    font-size: 15px;
    letter-spacing: 1px;
}

.bandeau button {
    width: 150px;
    height: 40px;
    margin: 30px 10px 40px 10px;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    font-size: 12px;
}

.bandeau button:hover {
    border-color: var(--green-color);
    background-color: var(--green-color);
    cursor: pointer;
    transition-duration: 0.2s;
}

.custom-shape-divider-bottom-1650464938 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.custom-shape-divider-bottom-1650464938 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1650464938 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1650465143 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1650465143 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
}

.custom-shape-divider-bottom-1650465143 .shape-fill {
    fill: #7CA640;
}

/*!!!!!!!!!!!!!!!!!!! MENU SLICK !!!!!!!!!!!!!!!!!!!*/

.slider {
    width: 1300px;
    margin: 0 auto;
    margin-top: -230px;
    z-index: 2;
}

.slide-arrow {
    position: absolute;
    top: 50%;
    margin-top: -40px;
}

.prev-arrow {
    font-size: 20px;
    left: -40px;
    width: 0;
    height: 0;
}

.next-arrow {
    font-size: 20px;
    right: 0px;
    width: 0;
    height: 0;
}

.slick-slide {
    margin: 0 15px;
    background-color: #FFFFFF;
}

.menu_form_slick {
    height: 350px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.icone_menu_slick {
    background-image: url(images/maki-product-image.603821d8ddf29.web.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 160px;
    width: 160px;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 40px;
    position: relative;
}

.slider h2 {
    font-size: 18px;
    letter-spacing: 3px;
}

.slider p {
    color: grey;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.slider i {
    color: var(--green-color);
    border: 3px solid transparent;
    padding: 10px;
}

.slider i:hover {
    color: grey;
    border: 3px solid grey;
    cursor: pointer;
}

.rond_icone_slick {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    width: 270px;
    height: 115px;
    border-radius: 0 0 50% 50%/ 0px 0px 100% 100%;
    background: #ebebeb;
    margin-left: 13px;
}


/*!!!!!!!!!!!!!!!!!!! MENU DU JOUR !!!!!!!!!!!!!!!!!!!*/

.menu_du_jour {
    margin-top: 100px;
    height: 600px;
    background-color: var(--grey-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.entete_menu_du_jour {
    width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icone_couvert {
    background-color: var(--green-color);
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-top: -300px;
}

.icone_couvert i {
    font-size: 40px;
    color: #FFFFFF;
}

.texte_menu_du_jour {
    margin-left: -350px;
}

.texte_menu_du_jour h2 {
    color: var(--green-color);
    font-family: var(--font-title);
    font-size: 50px;
    font-weight: 500;
}

.menu_du_jour_h2_prix {
    color: var(--green-color);
    font-family: var(--font-title);
    font-size: 40px;
    font-weight: 500;
}

.menu_du_jour_p {
    font-size: 13px;
    display: flex;
    justify-self: flex-start;
    letter-spacing: 1px;
}

.menu_du_jour .menu {
    margin-top: 0px;
    margin-bottom: -60px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    z-index: 1;
}

.menu_form {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 350px;
    width: 295px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone_menu {
    background-image: url(images/maki-product-image.603821d8ddf29.web.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 160px;
    width: 160px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: -50px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
}

.rond_icone {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    width: 270px;
    height: 115px;
    border-radius: 0 0 50% 50%/ 0px 0px 100% 100%;
    background: #ebebeb;
    margin-left: 2px;
    z-index: 1;
}

.menu h2 {
    font-size: 18px;
    letter-spacing: 3px;
}

.menu p {
    color: grey;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.button_details {
    color: rgb(197, 197, 197);
    font-family: var(--corps-font);
    font-size: 10px;
    padding: 10px 25px;
    margin-top: 15px;
    background-color: transparent;
    border: 2px solid rgb(197, 197, 197);
    margin-top: 40px;
    font-size: 13px;
}

.button_details:hover {
    transform: scale(1.02);
    cursor: pointer;
}

/*!!!!!!!!!!!!!!!!!!! FOOTER !!!!!!!!!!!!!!!!!!!*/

.footer {
    width: 100%;
    display: flex;
}

.reservation {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.reservation_wrapper {
    width: 630px;
    height: 100%;
}

.reservation_wrapper h2 {
    color: #7CA640;
    margin-top: 150px;
    text-align: start;
    font-family: var(--font-title);
    font-size: 50px;
    font-weight: 500;
}

.reservation_wrapper h3 {
    font-family: var(--corps-font);
    text-align: start;
    letter-spacing: 3px;
}

.reservation_wrapper p {
    font-family: var(--corps-font);
    text-align: start;
    margin-top: 40px;
    color: rgb(143, 143, 143);
    margin-bottom: 40px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.form select {
    width: 280px;
    height: 40px;
    margin: 10px 5px 5px 0px;
    border: 2px solid var(--grey-color);
    appearance: none;
}

.arrow_select {
    background-image: url(images/toppng.com-down-arrow-grey-600x380.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.form select, option {
    font-size: 12px;
    font-weight: 1000;
    text-align: start;
    letter-spacing: 1px;
    padding-left: 40px;
}

.cgu_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -50px;
}

.cgu_wrapper p {
    color: white;
    background-color: #7CA640;
    width: 270px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid transparent;
    font-size: 13px;
}

.cgu_wrapper p:hover {
    color: black;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid black;
}

input[type="checkbox"] {
    appearance: none;
    height: 20px;
    width: 20px;
    border: 3px solid var(--green-color);
    cursor: pointer;
}

input[type="checkbox"]:hover {
    background-color: var(--green-color);
    transition-duration: 0.2s;
}

.cgu_wrapper label {
    font-size: 13px;
    margin-left: -50px;
}

.image_footer {
    height: 700px;
    width: 100%;
    background-color: #FCFCFC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_footer img {
    height: 500px;
    margin-left: -200px;
}

